header{
	padding: 32px;
	background-image: url(../img/bgtop.jpg);
	margin: 0 auto 24px;
	background-size: cover;
	h1{
		font-weight: 300;
		font-size: 29px;
		color: #D6D9DA;
		margin: 0 0 $header_mob_marginb;
	}
	p{
		font-size: 16px;
		font-weight: 300;
		margin: 0 auto $header_mob_marginb;
		color: #fff;
	}
}

.logo{
	display: block;
	width: 156px;
    margin: 0 auto $header_mob_marginb;
	&::before{
		display: block;
		content: '';
		background: url(../img/logo.png);
		height: 36px;
	}
}


.form{
	width: 256px;
	padding: 16px;
	margin: 0 auto $header_mob_marginb;
	h2{
		font-size: 24px;
		font-weight: normal;
		margin-top: 0;
	}
}

.btn{
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 16px;
	background-color: #B622B5;
	width: 219px;
    margin: 0 auto;
    display: block;
	&:hover{
		background-color: darken(#B622B5, 15%);
	}
	&:focus{
		background-color: darken(#B622B5, 15%);
	}
}

.arrow_down{
	display: block;
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
    width: 40px;
    &:hover{
    	opacity: 0.54;
    	transition: .3s ease-out;
    }
}

.cont{
	width: 450px;
	margin: 0 auto;
}